body {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Oswald";
  src: url(../../fonts/Oswald/Oswald-Bold.woff);
}
@font-face {
  font-family: "Montserrat";
  src: url(../../fonts/Montserrat/Montserrat-Light.woff);
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url(../../fonts/Montserrat/Montserrat-Bold.woff);
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url(../../fonts/Montserrat/Montserrat-Medium.woff);
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url(../../fonts/Montserrat/Montserrat-Black.woff);
  font-weight: 900;
}
@font-face {
  font-family: "Montserrat";
  src: url(../../fonts/Montserrat/Montserrat-Regular.woff);
  font-weight: 400;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  position: absolute;
  left: 0;
  right: 0;
}

.nav__item {
  text-decoration: none;
  color: #85AAAB;
  font-weight: 700;
  font-size: 18px;
  transition: 0.2s;
}
.nav__item:not(.nav__item:last-child) {
  margin-right: 15px;
}
.nav__item:not(.active_link):hover {
  color: #617d7e;
  transition: 0.2s;
}
.nav__item:not(.active_link):active {
  color: #7fa5a7;
}

.titleScreen {
  background-image: url("../../img/title_page_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 161px;
  padding-top: 250px;
}
.titleScreen__title {
  color: #fff;
  font-size: 48px;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 55px;
}
.titleScreen__descrip {
  font-size: 24px;
  line-height: 1.5;
  max-width: 300px;
  color: #fff;
  margin-bottom: 55px;
}
.titleScreen__btn {
  text-transform: uppercase;
  transition: 0.2s;
}
.titleScreen__btn:hover {
  background-color: #397979;
  transition: 0.2s;
}
.titleScreen__btn:active {
  background-color: #4b9f9f;
}
.titleScreen__btn:focus {
  background-color: #119c9c;
}

body {
  font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald";
}

.center {
  padding-left: calc(50vw - 585px);
  padding-right: calc(50vw - 585px);
}

.active_link {
  border-bottom: 2px solid #6DE1E3;
  color: #6DE1E3;
}
.active_link:hover {
  color: #50a6a8;
  border-bottom: 2px solid #50a6a8;
  transition: 0.2s;
}

.funkBtn {
  background-color: #2D5E5E;
  color: #fff;
  font-size: 18px;
  line-height: 1.3;
  width: 250px;
  padding: 8px 0;
  text-align: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */