.counter {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(../../img/counter_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }
    @media screen and (max-width: 375px) {
        padding: 10px;
    }

    &__item {
        text-align: center;
        max-width: 300px;

        @media screen and (max-width: 768px) {
            &:not(:last-child){
                margin-bottom: 30px;
            }
        }

        @media screen and (max-width: 375px) {
            &:not(:last-child){
                margin-bottom: 20px;
            }
        }
    }

    &__title {
        font-size: 48px;
        font-weight: 900;
        line-height: 1.5;
        margin-bottom: 14px;

        @media screen and (max-width: 768px) {
            font-size: 36px;
            font-weight: 700;
            line-height: 1.3;
            margin-bottom: 10px;
        }

        @media screen and (max-width: 375px) {
            font-size: 24px;
            margin-bottom: 5px;
        }
    }

    &__subtitle {
        font-size: 24px;
        line-height: 1.3;
        font-weight: 700;
        margin-bottom: 20px;

        @media screen and (max-width: 768px) {
            font-size: 20px;
            font-weight: 500;
            line-height: 1.1;
            margin-bottom: 10px;
        }

        @media screen and (max-width: 375px) {
            font-size: 16px;
            margin-bottom: 5px;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;

        @media screen and (max-width: 768px) {
            font-weight: normal;
            line-height: 1.3;
        }        

        @media screen and (max-width: 375px) {
            font-size: 14px;
        }
    }
}