.forms {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 370px));
    grid-template-rows: repeat(6, auto);
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
    grid-column-gap: 30px;
    
    &__title,
    &__btn,
    &__agreement{
        grid-column: 1/3;
        justify-self: center;
    }

    &__name,
    &__tel,
    &__topic {
        border-radius: 10px;
    }

    &__topic {
        appearance: none;
        position: relative;
        &::after {
            content: url("../../img/sort-down.png");
            position: absolute;
            right: 20px;
        }
    }

    &__name,
    &__tel,
    &__topic,
    &__wishes {
        font-size: 18px;
        line-height: 1.3;
        padding: 8px 20px;
        margin-bottom: 30px;
        border: 1px solid #000;
    }

    &__title {
        font-size: 48px;
        line-height: 1.5;
        font-weight: 700;
        margin-bottom: 50px;
    }

    &__wishes{
        grid-column: 2/3;
        grid-row: 2/5;
        order: -1;
        font-family: "Montserrat";
    }

    &__agreement {
        margin-bottom: 40px;
        height: 30px;
        align-self: center;
        input {
            appearance: none;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: -30px;
                top: -11px;
                width: 15px;
                height: 15px;
                border: 1px solid #2D5E5E;
            }

            &:checked {
                &::before {
                    content: "";
                    position: absolute;
                    background-color: #2D5E5E;
                    left: -30px;
                    top: -11px;
                    width: 14px;
                    height: 14px;
                    border: 1px solid #fff;
                    outline: 1px solid #2D5E5E;
                } 
            }
        }
    }

    &__btn{
        background-color: #2D5E5E;
        border: none;
        width: 250px;

        &:hover {
            background-color: #397979;
        }

        &:active {
            background-color: #4b9f9f;
        }
    }
}