body {
    font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald";
}

.center {
    padding-left: calc(50vw - 585px);
    padding-right: calc(50vw - 585px);
}

.active_link {
    border-bottom: 2px solid #6DE1E3;
    color: #6DE1E3;

    &:hover {
        color: #50a6a8;
        border-bottom: 2px solid #50a6a8;
        transition: .2s;
    }
}

.func-btn {
    color: #fff;
    font-family: "Montserrat";
    font-size: 18px;
    line-height: 1.3;
    padding: 8px 0;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;

    &:hover {
        transition: .2s;
    }
}