.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
    left: 0;
    right: 0;
}

.nav {

    &__item {
        text-decoration: none;
        color: #85AAAB;
        font-weight: 700;
        font-size: 18px;
        transition: .2s;

        &:not(&:last-child) {
            margin-right: 15px;
        }

        &:not(.active_link):hover {
            color: #617d7e;
            transition: .2s;
        }

        &:not(.active_link):active {
            color: #7fa5a7;
        }
    }
}