.questions {
    padding-top: 51px;
    padding-bottom: 60px;

    @media screen and (max-width: 768px) {
        padding: 20px 0;
    }

    &__title{
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 78px;

        @media screen and (max-width: 768px) {
            font-size: 36px;
            margin-bottom: 20px;
        }
    }

    &__item{
        max-width: 900px;
        margin-left: 50px;

        @media screen and (max-width: 768px) {
            max-width: 600px;
            margin-right: 15px;
        }

        &  summary {
            margin-bottom: 20px;
            font-family: "Oswald";
            font-size: 24px;
            line-height: 1.3;
            font-weight: 700;
            list-style-position: outside;
            padding-left: 20px;
            cursor: pointer;
            &::marker {
                content: url(../../img/Vector-plus.svg);
            }
        }

        &[open] summary {
            color: #2D5E5E;
            list-style-position: outside;
            padding-left: 20px;

            &::marker {
                content: url(../../img/Vector-plus-45deg.svg);
            }
        }

        & > p {
            margin-left: 17px;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
        }

        &:not(:last-child){
            margin-bottom: 20px;
        }
    }

}